@media screen and (max-width: 1200px) and (orientation: portrait) {
    body {
        font-size: 2.5vw;
    }

    #cabecalho .logo img {
        width: 35px;
    }
    #cabecalho .logo h1 {
        width: 30%;
    }

    #conteudo #info-gerais {
        flex-direction: column;
        padding: 5em;
        padding-top: calc(9vh + 4em);
        padding-bottom: 20vh;
        justify-content: flex-start;
        gap: 4em;
        min-height: auto;
    }
    #conteudo #info-gerais::before {
        background-position: center;
    }
    #conteudo #info-gerais .descricao p,
    #conteudo #avaliacoes .avs .av-feita p {
        line-height: 23px;
    }

    #conteudo #imagens-exemplos {
        min-height: 25vh;
        margin-top: calc(71vh + 11em);
    }
    #conteudo #imagens-exemplos .imgs {
        left: 8vw;
    }
    #conteudo #imagens-exemplos .imgs figure {
        border-radius: 30px;
        width: 85vw;
        height: max-content;
    }
    #conteudo #imagens-exemplos .imgs figure img {
        border-radius: 30px;
    }
    #conteudo #imagens-exemplos .imgs figure:last-child {
        margin-right: 7.5vw;
    }

    #conteudo #avaliacoes .form-av .desc-av #av {
        min-width: 280px;
        min-height: 80px;
        border-radius: 15px;
    }
    #conteudo #avaliacoes .form-av button,
    #conteudo #avaliacoes .btn-view-more {
        padding: 0.8em 2.2em;
    }
    #conteudo #avaliacoes #modal #janela-flutuante {
        width: max-content;
        padding: 2.5em 5em;
        border-radius: 30px;
    }
    #conteudo #avaliacoes #modal #janela-flutuante .aviso {
        margin-bottom: 0.8em;
    }
    #conteudo #avaliacoes .avs {
        gap: 4em;
    }
    #conteudo #avaliacoes .avs .av-feita {
        width: 300px;
        max-width: fit-content;
    }
    #conteudo #avaliacoes .avs .av-feita:nth-child(odd) {
        transform: translateX(0em);
    }
    #conteudo #avaliacoes .avs .av-feita:nth-child(even) {
        transform: translateX(0em);
    }

    #conteudo #topo {
        font-size: 3.5em;
        padding: .35em;
    }

    #conteudo #form {
        margin: 2em auto;
    }
    #conteudo #form .todos-dados .foto img {
        width: 100px;
        height: 100px;
    }
    #conteudo #form .todos-dados {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    #conteudo #form .todos-dados .campos {
        gap: 1.5em;
    }
    #conteudo #form .todos-dados .campos .campo {
        gap: 0.4em;
    }
    #conteudo #form .todos-dados .campos .campo label {
        font-size: 1.5em;
    }
    #conteudo #form .todos-dados .campos .campo input {
        min-width: 180px;
        padding: 0.8em 1.2em;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    #cabecalho .voltar {
        top: 17%;
    }
    #cabecalho .logo img {
        width: 45px;
    }
    
    #conteudo #info-gerais {
        padding: 5em;
        padding-top: calc(23vh + 3em);
        padding-bottom: 30vh;
        gap: 4em;
    }
    #conteudo #info-gerais .descricao {
        width: 500px;
    }
    #conteudo #info-gerais .descricao p,
    #conteudo #avaliacoes .avs .av-feita p {
        line-height: 23px;
    }
    #conteudo #imagens-exemplos {
        margin-top: calc(100vh + 5em);
    }
    #conteudo #avaliacoes #modal #janela-flutuante {
        border-radius: 30px;
    }
    #conteudo #avaliacoes .form-av .desc-av #av {
        min-width: 400px;
        border-radius: 15px;
    }
    #conteudo #avaliacoes .avs .av-feita {
        width: 400px;
        max-width: fit-content;
    }

    #conteudo #topo {
        font-size: 3.5em;
        padding: .35em;
    }

    #conteudo #form {
        margin-bottom: 5em ;
    }
}