/* Cabeçalho */
#cabecalho {
    position: relative;
    border-radius: 0px 0px 10px 10px;
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 1.5em 0.5em;
    z-index: 1;
    animation: cabecalho .7s ease-out;
}

#cabecalho .voltar {
    position: absolute;
    top: 16%;
    border-radius: 5em;
    padding: 1em 1.2em;
    cursor: pointer;
    transition-duration: .2s;
}
#cabecalho .voltar:hover {
    background: rgba(255, 255, 255, 0.15);
}
#cabecalho .voltar:active {
    background: rgba(255, 255, 255, 0.30);
}

#cabecalho .voltar span {
    font-size: 3em;
}

#cabecalho .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#cabecalho .logo img {
    width: 70px;
    height: 100%;
}

#cabecalho .logo h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 2.25em;
    font-weight: 700;
    width: 15%;
}

/* Conteúdo */
#conteudo #info-gerais {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: calc(18vh + 3.5em);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 5em;
}
#conteudo #info-gerais::before {
    content: "";
    background: linear-gradient(180deg, rgba(26, 21, 45, 0.10) 0%, var(--roxa-escura-3) 100%), url(../img/journey-ilustracao.jpg) lightgray 0px 0px no-repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: -1;
}

#conteudo #info-gerais .detalhes,
#conteudo #info-gerais .descricao {
    border-radius: 20px;
    border: 1px dashed #FFF;
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 1.5em;
    max-width: 500px;
}

#conteudo #info-gerais .detalhes {
    height: 100%;
    animation: esquerda .6s ease-out .8s both;
}

#conteudo #info-gerais .detalhes h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 2em;
    font-weight: 700;
}

#conteudo #info-gerais .detalhes hr,
#conteudo #info-gerais .descricao hr {
    border-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0.8em 0;
}

#conteudo #info-gerais .detalhes .list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 3vw;
    gap: 0.5em;
}

#conteudo #info-gerais .detalhes .list li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#conteudo #info-gerais .detalhes .list li img {
    width: 35px;
}

#conteudo #info-gerais .detalhes .list li .icon {
    font-size: 2.5em;
}

#conteudo #info-gerais .detalhes .list li .info {
    color: #FFF;
    font-family: var(--padrao-2);
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: capitalize;
}

#conteudo #info-gerais .descricao {
    height: max-content;
    animation: direita .6s ease-out 1s both;
}

#conteudo #info-gerais .descricao h2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 2em;
    font-weight: 700;
    margin-left: 0.2em;
}

#conteudo #info-gerais .descricao p {
    color: #FFF;
    font-family: var(--padrao-1);
    font-size: 1.25em;
    font-weight: 400;
    line-height: 30px;
}

#conteudo #imagens-exemplos {
    position: relative;
    margin-top: calc(100vh + 1em);
    margin-bottom: 8em;
    min-height: 70vh;
    overflow-x: auto;
}
#conteudo #imagens-exemplos::-webkit-scrollbar {
    height: 0;
}

#conteudo #imagens-exemplos .imgs {
    position: absolute;
    top: 0;
    left: 20vw;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 5em;
    width: max-content;
}

#conteudo #imagens-exemplos .imgs figure {
    border-radius: 40px;
    overflow: hidden;
    width: max-content;
    height: 100%;
}

#conteudo #imagens-exemplos .imgs figure img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: var(--cinza);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    transition: .4s ease-out;
}
#conteudo #imagens-exemplos .imgs figure:hover img {
    transform: scale(1.2);
}
#conteudo #imagens-exemplos .imgs figure:last-child {
    margin-right: 20vw;
}

#conteudo #avaliacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8em;
}

#conteudo #avaliacoes .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    width: 100%;
    animation: baixo 2s ease-out;
    animation-timeline: view();
    animation-range: cover -5% cover 24%;
}

#conteudo #avaliacoes .titulo hr {
    width: 80%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

#conteudo #avaliacoes .titulo h1 {
    background-color: white;
    color: var(--roxa-clara);
    font-family: var(--titulo);
    padding: 1em 3em;
    border-radius: 0 0 5em 5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 2em;
    font-weight: 700;
}

#conteudo #avaliacoes .form-av {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    margin-bottom: 5em;
    animation: baixo 2s ease-out;
    animation-timeline: view();
    animation-range: cover -5% cover 24%;
}

#conteudo #avaliacoes .form-av .desc-av {
    display: flex;
    gap: 0.5em;
}

#conteudo #avaliacoes .form-av .desc-av label span {
    font-size: 3.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

#conteudo #avaliacoes .form-av .desc-av #av {
    min-width: 812px;
    min-height: 130px;
    resize: none;
    border-radius: 20px;
    border: 3px solid var(--roxa-clara);
    background: rgba(255, 255, 255, 0.10);
    color: white;
    font-family: var(--padrao-2);
    font-size: 1.25em;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
    padding: 0.8em;
}
#conteudo #avaliacoes .form-av .desc-av #av::-webkit-scrollbar-track {
    background-color: transparent;
}

#conteudo #avaliacoes .form-av button,
#conteudo #avaliacoes .btn-view-more,
#conteudo #avaliacoes #modal #janela-flutuante .btn-conta {
    border-radius: 50px;
    background: var(--roxa-clara);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.6em 1.5em;
    transition: .2s;
}
#conteudo #avaliacoes .form-av button:hover,
#conteudo #avaliacoes .btn-view-more:hover,
#conteudo #avaliacoes #modal #janela-flutuante .btn-conta:hover {
    background-color: var(--roxa-escura-1);
}
#conteudo #avaliacoes .form-av button:active,
#conteudo #avaliacoes .btn-view-more:active,
#conteudo #avaliacoes #modal #janela-flutuante .btn-conta:active {
    background-color: var(--roxa-escura-2);
}

#conteudo #avaliacoes #modal {
    display: none;
    background: transparent;
    border: 0;
    height: max-content;
    z-index: 1;
    animation: fade .1s ease-out;
}
#conteudo #avaliacoes #modal #transparencia {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
}
#conteudo #avaliacoes #modal #janela-flutuante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 40px;
    background: radial-gradient(78.59% 50% at 50% 50%, var(--roxa-clara) 0%, var(--roxa-escura-1) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 2em 4em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
#conteudo #avaliacoes #modal #janela-flutuante p {
    font-size: 1.25em;
}
#conteudo #avaliacoes #modal #janela-flutuante .aviso {
    transform: translateX(-8%);
    margin-bottom: 0.4em;
}

#conteudo #avaliacoes .avs {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#conteudo #avaliacoes .avs .av-feita {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: min-content;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    background-color: var(--roxa-escura-1);
    border: 1px solid white;
    border-radius: 2.3em;
}
#conteudo #avaliacoes .avs .av-feita:nth-child(odd) {
    transform: translateX(-6em);
    animation: esquerda 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 48%;
}
#conteudo #avaliacoes .avs .av-feita:nth-child(even) {
    transform: translateX(6em);
    animation: direita 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 48%;
}

#conteudo #avaliacoes .avs .av-feita .dados-tecnicos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteudo #avaliacoes .avs .av-feita .dados-tecnicos .perfil {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#conteudo #avaliacoes .avs .av-feita .dados-tecnicos .perfil .foto-perfil {
    font-size: 3.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

#conteudo #avaliacoes .avs .av-feita .dados-tecnicos .perfil h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--padrao-2);
    font-size: 1.5em;
    font-weight: 500;
}

#conteudo #avaliacoes .avs .av-feita .dados-tecnicos .data {
    padding-right: 1.5em;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

#conteudo #avaliacoes .avs .av-feita hr {
    border-style: dashed;
}

#conteudo #avaliacoes .avs .av-feita p {
    padding: 0.6em 1em 1em;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 30px;
}

#conteudo #avaliacoes .btn-view-more {
    margin-top: 3em;
    animation: baixo 2s ease-out;
    animation-timeline: view();
    animation-range: cover -5% cover 24%;
}

#conteudo #topo {
    position: fixed;
    right: 3%;
    bottom: 5%;

    background-color: var(--roxa-clara);
    font-size: 3em;
    border-radius: 50%;
    padding: .3em;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    transition: .2s;
    animation: fade .5s ease-out;
}
#conteudo #topo:hover {
    background-color: var(--roxa-escura-1);
}
#conteudo #topo:active {
    background-color: var(--roxa-escura-2);
}
