@charset "UTF-8";

/* Fonte do site */
@font-face {
    font-family: 'titulo';
    src: url(../fonts/Tourney/Tourney-VariableFont_wdth\,wght.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset das tags */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1.5vw var(--padrao);
    background-color: var(--roxa-escura-3);
    color: white;
    animation: aparecer .5s ease-out;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

:focus {
    outline: 0;
}

/* Variáveis CSS */
:root {
    --roxa-escura-1: #1D1043;
    --roxa-escura-2: #0D0C30;
    --roxa-escura-3: #1A152D;
    --roxa-clara: #4928A9;
    --preta: #080914;
    --cinza: #110F1D;
    --titulo: 'titulo';
    --padrao-1: 'Open Sans', sans-serif;
    --padrao-2: 'Poppins', sans-serif;
}

/* Estilização da barrinha de rolagem */
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background-color: var(--roxa-escura-3);
}
::-webkit-scrollbar-thumb {
    background-color: var(--roxa-clara);
    border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--roxa-escura-1);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--roxa-escura-2);
}

/* Animações dos elementos */
@keyframes aparecer {
    0% {
        transform: translateX(-5px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
