@media screen and (max-width: 1200px) and (orientation: portrait) {
    body {
        font-size: 2.5vw;
    }

    #cabecalho .logo img {
        width: 35px;
    }
    #cabecalho .logo h1 {
        width: 30%;
    }

    #conteudo #info-gerais {
        background-position: center;
        flex-direction: column;
        padding: 5em;
        padding-top: calc(9vh + 4em);
        padding-bottom: 20vh;
        justify-content: flex-start;
        gap: 4em;
        min-height: auto;
    }
    #conteudo #info-gerais .descricao p {
        line-height: 23px;
    }

    #conteudo #imagens-exemplos {
        min-height: 25vh;
        margin-top: calc(71vh + 11em);
    }
    #conteudo #imagens-exemplos .imgs {
        left: 6vw;
    }
    #conteudo #imagens-exemplos .imgs figure {
        border-radius: 30px;
        width: 8%;
        height: max-content;
    }
    #conteudo #imagens-exemplos .imgs figure img {
        border-radius: 30px;
    }
    #conteudo #imagens-exemplos .imgs figure:last-child {
        margin-right: 0vw;
    }

    #conteudo #avaliacoes .form-av .desc-av #av {
        min-width: 280px;
        min-height: 80px;
        border-radius: 15px;
    }
    #conteudo #avaliacoes .form-av button,
    #conteudo #avaliacoes .btn-view-more {
        padding: 0.8em 2.2em;
    }
    #conteudo #avaliacoes .avs {
        gap: 4em;
    }
    #conteudo #avaliacoes .avs .av-feita {
        width: 300px;
        max-width: fit-content;
    }
    #conteudo #avaliacoes .avs .av-feita:nth-child(odd) {
        transform: translateX(0em);
    }
    #conteudo #avaliacoes .avs .av-feita:nth-child(even) {
        transform: translateX(0em);
    }
    #conteudo #avaliacoes .avs .av-feita p {
        line-height: 23px;
    }
}