/* Cabeçalho */
.header-container {
    background: linear-gradient(180deg, var(--roxa-escura-3) 0%, var(--roxa-clara) 100%);
    border-radius: 0px 0px 1000px 1000px;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.10);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
}

.header-container .profile-icon span {
    font-size: 4em;
    border-radius: 50%;
    cursor: pointer;
}

.header-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.header-container .logo img {
    width: 70px;
    height: 100%;
}

.header-container .logo h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 2.25em;
    font-weight: 700;
    width: 38%;
}

.header-container .search-container {
    position: relative;
}

.header-container .search-container input {
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    width: 200px;
    font-size: 16px;
}

.header-container .search-container label {
    position: absolute;
    top: 20%;
    right: 5%;
    color: var(--preta);
}

.header-container .modal-container {
    display: none;
    height: max-content;
    width: max-content;
    animation: fade .1s ease-out;
}

.header-container .modal-container .transparencia {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.header-container .modal-container .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    background: radial-gradient(78.59% 50% at 50% 50%, var(--roxa-clara) 0%, var(--roxa-escura-1) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 2em 4em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.header-container .modal-container .menu a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    
}


.header-container .modal-container .menu span {
    font-size:4em;
    
}


.header-container .modal-container .menu hr {
    color: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2em;
    width: 140%;
}

.header-container .modal-container .menu .aa {
    font-size: 1.2em;
}

.header-container .modal-container .menu .aa a{
    padding: 0.5em;
    border-radius: 1em;
}


.header-container .modal-container .menu .aa a:hover {
    background-color: rgba(255, 255, 255, 0.15);  
}

.header-container .modal-container .menu .aa a:active {
    background-color: rgba(255, 255, 255, 0.30);
}

.header-container .modal-container .menu .bb {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.header-container .modal-container .menu .bb a {
    width: 200px;
    height: 48px;
    border: 0;
    color: white;
    border-radius: 50px;
    background: var(--roxa-clara);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--padrao-2);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.6em 1.5em;
    cursor: pointer;
    transition: .2s;
}

.header-container .modal-container .menu .bb a:hover {
    background-color: var(--roxa-escura-1);
}

.header-container .modal-container .menu .bb a:active {
    background-color: var(--roxa-escura-2);
}

.games-section {
    margin: 4em 5em;
}

.games-section h2 {
    background: linear-gradient(90deg, #4928A9 0%, rgba(73, 40, 169, 0.00) 100%);
    border-radius: 25px 0px 0px 25px;
    font-size: 20px;
    padding: 0.8em 1em;
    margin: 40px 0;
    font-family: var(--titulo);

}

.games-section .games-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin-top: 40px;
}

.games-section .game-item {
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    height: auto;
}
.games-section .game-item img {
    width: 300px;
    height: auto;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    transition: .3s;
}
.games-section .game-item img:hover {
    transform: scale(1.1);
}

@media (min-width: 600px) {
    .games-flex {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.footer-conteiner {
    border-radius: 200px 200px 0px 0px;
    background: linear-gradient(180deg, #4928A9 0%, #1A152D 100%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    padding: 2em;

}

.footer-conteiner .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer-conteiner .logo img {
    width: 70px;
    height: 100%;
}

.footer-conteiner .logo h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 2.25em;
    font-weight: 700;
    width: 15%;
}

.footer-conteiner hr {
    color: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2em;
}

.footer-conteiner .resources-section {
    padding: 20px;
    border-radius: 10px;
}

.footer-conteiner .resources-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
}

.footer-conteiner .resources-flex a {
    text-align: center;
    padding: 0.5em;
    border-radius: 15px;
    transition: .2s;
}
.footer-conteiner .resources-flex a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.footer-conteiner .resources-flex a:active {
    background-color: rgba(255, 255, 255, 0.30);
}

.footer-conteiner .extra-resources {
    display: flex;
    justify-content: center;
    gap: 6em;
}

.footer-conteiner .resource-itens {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}
.footer-conteiner .resource-itens .resource-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 15px;
    transition: .2s;
}
.footer-conteiner .resource-itens .resource-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.footer-conteiner .resource-itens .resource-item:active {
    background-color: rgba(255, 255, 255, 0.30);
}

.footer-conteiner .resource-itens .resource-item .icon {
    font-size: 2.5em;
}

.footer-conteiner .resource-itens .resource-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.footer-conteiner .figure-item img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 40px;
}
