.container {
    position: relative;
}

.container .back-arrow {
    position: absolute;
    top: 2vh;
    left: 1%;
    border-radius: 5em;
    padding: 1em 1.2em;
    cursor: pointer;
    transition-duration: .2s;
}
.container .back-arrow:hover {
    background: rgba(255, 255, 255, 0.15);
}
.container .back-arrow:active {
    background: rgba(255, 255, 255, 0.30);
}
.container .back-arrow span {
    font-size: 3em;
}

.container .form-container {
    position: absolute;
    top: 14vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10em;
    margin: auto 15%;
}

.container .form-container .left-section {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .form-container .left-section .logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.container .form-container .left-section .logo img {
    width: 70px;
    height: 100%;
}

.container .form-container .left-section h1 {
    font-size: 1.5em;
    font-family: var(--titulo);
    margin: 10px 0;
    width: 25%;
}

.container .form-container .left-section p {
    font-size: 1.25em;
    line-height: 30px;
    text-align: center;
}

.container .right-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.container .form-group {
    display: flex;
    flex-direction: column;
    gap: .05em;
    width: 100%;
}

.container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: #ffffff;
}

.container .form-group input {
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: .8em 1.2em;
    border-radius: 25px;
    border: 2px solid var(--roxa-clara);
    color: var(--roxa-clara);
    font-size: 1em;
    transition: background-color 0.3s;
}
.container .form-group input:focus {
    border-color: var(--roxa-escura-1);
}

.container .form-container .right-section .form-group .password-container {
    position: relative;
}

.container .form-container .right-section .form-group .password-container span {
    position: absolute;
    top: 25%;
    right: 4%;
    color: var(--roxa-clara);
    cursor: pointer;
}
.container .form-container .right-section .form-group .password-container span.invisivel {
    display: none;
}

.container .form-container .right-section .btn-avancar {
    width: max-content;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left-section, .right-section {
        width: 100%;
    }
    
    .left-section {
        padding: 20px;
    }
    
    .right-section {
        padding: 20px;
    }
}

:root {
    --roxa-escura-1: #1D1043;
    --roxa-escura-2: #0D0C30;
    --roxa-escura-3: #1A152D;
    --roxa-clara: #4928A9;
    --preta: #080914;
    --cinza: #110F1D;
    --titulo: 'titulo';
    --padrao-1: 'Open Sans', sans-serif;
    --padrao-2: 'Poppins', sans-serif;
}